.SearchBar{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.SearchBar input {
    margin-left: 10px;
    width: 90%;
    border: none;
    border-bottom: solid 2px black;
}

.SearchBar i{
    padding-left: 45px;
}